{:ig/system
 {[:juxt.crux.ig.system/cluster-node :crux-reset-bug.demo/system]
  {:kv-backend "crux.kv.memdb.MemKv"
   :bootstrap-servers "localhost:9092"}
  :crux-reset-bug.demo/crux-test
  #ig/ref [:juxt.crux.ig.system/cluster-node :crux-reset-bug.demo/system]}}
